@page
@{
    ViewData["Title"] = "NotFound";
}

    <div>
        <h2>Your restaurant no longer available.</h2>
        <a asp-page="./List" class="btn btn-primary">See all available restaurants.</a>
    </div>
   

